<div class="container" style="width: 100%; padding-top: 70px;">
    <div class="tab-content">
        <div class="tab-pane fade in active">
            <a ng-if="stickies.userId" class="btn btn-default add-button" title="Add" data-toggle="modal" ng-click = "stickies.resetForm()" data-target="#addModal">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
            <ul id="notes-ul">
                <li ng-repeat="note in stickies.notes | filter : stickies.type | orderBy : 'createdAt'">
                    <a href="#" ng-click="stickies.editNote(note)">
                        <div class="inline pull-right btn-xs btn-link color-black" ng-if="note.responses.length == 0" ng-click="stickies.openAddResponseModal(note)">Add Response</div>
                        <div class="inline pull-right btn-xs btn-link color-black" ng-if="note.responses.length != 0" data-toggle="modal" ng-click="stickies.seeResponses(note._id)">{{note.responses.length}} Response(s)</div>
                        <h2 class="inline">{{note.title}}</h2>
                        <p>{{note.content}}</p>
                        <p>- {{note.name}}</p>
                    </a>
                    <div class="modal fade" ng-attr-id="{{'response_for_' + note._id}}" role="dialog">
                        <div class="modal-dialog">
                            <ng-include src="'client/SeeResponsesModal.html'"></ng-include>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>