*{
    margin:0;
    padding:0;
}
html,body{
    font-family:arial,sans-serif;
    height: 100% !important;
    /*margin:3em;*/
    /*background:#eaeaea;*/
}
h2,p{
    font-size:100%;
    font-weight:normal;
}
#notes-ul, li{
    list-style:none;
}
#notes-ul:not(.skipCss){
    overflow:hidden;
    padding:3em;
}
#notes-ul li a:not(.skipCss), #notes-ul li a:hover:not(.skipCss){
    text-decoration: none;
    color:#000;
    background:#ffffb3;
    /*background:#ffc;*/
    display:block;
    height:18em;
    width:35em;
    padding:1em;
    overflow:auto;
    margin-right: 40px;
    margin-bottom: 40px;
    -webkit-transform:rotate(-1deg);
    -o-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    box-shadow: 1px 1px 3px #555;
}

#notes-ul li {
    margin: 1em;
    float: left;
}

#notes-ul li h2{
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}

#notes-ul li p{
    font-family: "Gloria Hallelujah", arial, sans-serif;
    font-size: 130%;
}

#notes-ul li:nth-child(2n) a:not(.skipCss){
    -o-transform:rotate(2deg);
    -webkit-transform:rotate(2deg);
    -moz-transform:rotate(2deg);
    top:5px;
    position:relative;
    background:#b3ffb1;
    /*background:#cfc;*/
}
#notes-ul li:nth-child(3n) a:not(.skipCss){
    position:relative;
    background:#ccf;
    -o-transform:rotate(-1deg);
    -webkit-transform:rotate(-1deg);
    -moz-transform:rotate(-1deg);
    top:-5px;
}
#notes-ul li:nth-child(6n) a:not(.skipCss){
    position:relative;
    /*background:#ff6666;*/
    background:#ffffb3;
    color:#000;
    -o-transform:rotate(1deg);
    -webkit-transform:rotate(1deg);
    -moz-transform:rotate(1deg);
    top:-3px;
}
#notes-ul li:nth-child(5n) a:not(.skipCss){
    position:relative;
    /*background:#d9b3ff;*/
    background:#ffc7b3;
    /*background:#ffdacc;*/
    -o-transform:rotate(-2deg);
    -webkit-transform:rotate(-2deg);
    -moz-transform:rotate(-2deg);
    top:3px;
}

.resize-none{
    resize: none;
}
.inline{
    display: inline-block;
}
.modal-body{
    max-height: calc(100vh - 210px);
    overflow-y : auto;
}
.color-black{
    color: black;
}
.no-display{
    display: none;
}
.bottom-margin{
    margin-bottom: 15px !important;
}
.top-margin{
    margin-top: 15px;
}
.left-margin{
    margin-left: 35px;
}
.right-margin{
    margin-right: 10px !important;
}

.add-button{
    right: 50px;
    top: 80px;
    float: right !important;
    background: none !important;
    color: white !important;
    position: fixed;
}
/*.hovering:hover::before {*/
    /*background-color: #c2c6cd;*/
    /*border-radius: 3px;*/
/*}*/